<!doctype html>
<html class="no-js" lang="zh" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="源产直达 农业 ">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="manifest" href="site.webmanifest">
<link rel="apple-touch-icon" href="icon.png">
<!-- Place favicon.ico in the root directory -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="resources/css/bootstrap/bootstrap.min.css">

<!-- style -->
<link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/style.css}"></link>

<title>源产直达|thymeleaf</title>

</head>

<body>

	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

	<!-- 页面内容 由此开始 -->
	<div id="header" th:include="page :: header"></div>

	<div id="content">
		<h1>Welcome to Spitter</h1>

		<a th:href="@{/spittles}">Spittles</a> | <a
			th:href="@{/spitter/register}">Register</a> <br /> View: <span
			th:text="${view}">unknown</span>
	</div>
	<div id="footer" th:include="page :: copy"></div>
	<!-- 页面内容 END -->

	<script src="resources/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="resources/js/vendor/jquery-3.3.1.min.js"></script>
	<script src="resources/js/popper/popper.min.js"></script>
	<script src="resources/js/bootstrap/bootstrap.min.js"></script>
	<script src="resources/js/plugins.js"></script>
	<script src="resources/js/main.js"></script>

	<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
	<!-- 暂时不用
	<script>
		window.ga = function() {
			ga.q.push(arguments)
		};
		ga.q = [];
		ga.l = +new Date;
		ga('create', 'UA-XXXXX-Y', 'auto');
		ga('send', 'pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async defer></script>
	 -->
</body>

</html>
