<!doctype html>
<html class="no-js" lang="zh" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="源产直达 农业 ">
<meta name="viewport" 	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="manifest" th:href="@{/site.webmanifest}">
<link rel="apple-touch-icon" th:href="@{/icon.png}">
<!-- Place favicon.ico in the root directory -->

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	th:href="@{resources/css/bootstrap/bootstrap.min.css}">

<title>源产直达|首页</title>

</head>

<body>

	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

	<!-- 页面头部 -->
	<div id="header" th:include="layout :: header"></div>

	<!-- 页面内容 -->
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">AAA</h1>
			<p>BBBBBBBBBBBBBBB</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn
					more &raquo;</a>
			</p>
		</div>
	</div>

	<div class="container">
		<!-- 源产直达推广 -->
		<div class="row">
			<div class="col-md-3">
				<h2>农户及生产企业</h2>
				<p></p>
				<p>
					<a class="btn btn-secondary" th:href="@{/signup}" role="button">点击加入
						&raquo;</a>
				</p>
			</div>
			<div class="col-md-3">
				<h2>配送员</h2>
				<p></p>
				<p>
					<a class="btn btn-secondary" th:href="@{/signup}" role="button">点击加入
						&raquo;</a>
				</p>
			</div>
			<div class="col-md-3">
				<h2>服务站</h2>
				<p></p>
				<p>
					<a class="btn btn-secondary" th:href="@{/signup}" role="button">点击加入
						&raquo;</a>
				</p>
			</div>
			<div class="col-md-3">
				<h2>推广员</h2>
				<p></p>
				<p>
					<a class="btn btn-secondary" th:href="@{/signup}" role="button">点击加入
						&raquo;</a>
				</p>
			</div>
		</div>

		<hr>

	</div>

	<!-- 页面底部 -->
	<div id="footer" th:include="layout :: footer"></div>

	<script th:src="@{/resources/js/vendor/modernizr-3.6.0.min.js}"></script>
	<script th:src="@{/resources/js/vendor/jquery-3.3.1.min.js}"></script>
	<script th:src="@{resources/js/popper/popper.min.js}"></script>
	<script th:src="@{resources/js/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{resources/js/plugins.js}"></script>

	<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
	<!-- 暂时不用
	<script>
		window.ga = function() {
			ga.q.push(arguments)
		};
		ga.q = [];
		ga.l = +new Date;
		ga('create', 'UA-XXXXX-Y', 'auto');
		ga('send', 'pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async defer></script>
	 -->
</body>

</html>
