<!doctype html>
<html class="no-js" lang="zh" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="header">
	<a th:href="@{/}"> <img
		th:src="@{/resources/img/spitter_logo_50.png}" border="0" /></a>
	</div>

	<div>Content goes here</div>

	<footer class="container" th:fragment="copy">
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col">
						<span> Copyright &copy; 2018 <a
							href="http://www.yuanchanzhida.net/">源产直达 </a></span>| <span>山东蛟龙电子商务有限公司</span>
						| <span><a href="http://www.miibeian.gov.cn/"
							target="_blank">鲁ICP备18023266号</a></span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
</body>

</html>
